<input id="productId" name=productId type="number" value="Input product id" [formControl]="cID" style="width: 24.5%;">
<input id="productName" type="text" value="Input product name" [formControl]="cName"
       style="margin-left: 0.3%;width: 24%;">
<input id="productPrice" type="number" value="Input product price" [formControl]="cPrice" onclick="changeInput()"
       style="margin-left: 0.35%;width: 24%;">
<input id="productColor" type="text" value="Input product color" [formControl]="cColor"
       style="margin-left: 1%;width: 24%;">
<input id="newName" type="text" value="Input product color" [formControl]="nName"
       style="margin-left: 1%;width: 24%;">
<input id="newPrice" type="text" value="Input product color" [formControl]="nPrice"
       style="margin-left: 1%;width: 24%;">
<input id="newColor" type="text" value="Input product color" [formControl]="nColor"
       style="margin-left: 1%;width: 24%;">
<button style="margin-top: 30px;margin-left: 10px" (click)="sendJSON()">
  Add
</button>

<button style="margin-top: 30px; margin-left: 10px">
  Search with parameters
</button>

<button style="margin-top: 30px;margin-left: 10px" (click)="getAll()">
  GetAll
</button>

<button style="margin-top: 30px;margin-left: 10px">
  GetOne
</button>

<button style="margin-top: 30px;margin-left: 10px" (click)="delRequest()">
  delete
</button>

<button style="margin-top: 30px;margin-left: 10px" (click)="updRequest()">
  update
</button>

<div>
  <ngx-datatable
    class="material"
    [columnMode]="ColumnMode.flex"
    [headerHeight]="50"
    [footerHeight]="50"
    rowHeight="auto"
    [rows]="rows"
    [selected]="selected"
    [selectionType]="SelectionType.single"
  >
        <ngx-datatable-column name="id" [flexGrow]="0.5">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <!--<ngx-datatable-column name="id" [flexGrow]="1">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>-->
        <ngx-datatable-column name="product_name" [flexGrow]="1">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="product_price" [flexGrow]="1">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="product_color" [flexGrow]="1">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
  </ngx-datatable>
</div>

